#baslangic{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#ortasi{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
#sonu{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.metin{
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}